* { 
    margin: 0;
    font-family: "Rubik", sans-serif;
    
}

nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    padding: 15px;
}

.nav-logo {
    font-weight: 500;
    font-size: clamp(16px,8.5vw,26px);
    margin-bottom: 3px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: clamp(12px,4vw,16px);
}

a:hover {
    transform: scale(1.02);
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.underlined {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.start-area {
    position: relative;
    color: rgb(255, 255, 255);

}

.start-area-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

.start-area-picture {
    width: 100%;
    z-index: -1;
    object-fit: cover;
    height: 90vh;
}

@media (min-width: 560px) {
nav {
    background-color: rgb(255, 255, 255);
    flex-direction: row;
    justify-content: space-around;
}
}

@media (min-width: 650px) {
nav {
    background-color: rgb(255, 255, 255);
    flex-direction: row;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}
}

@media (min-width: 750px) {
nav {
    background-color: rgb(255, 255, 255);
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}
}
