* { 
    margin: 0;
    font-family: "Rubik", sans-serif;
    
}

nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    padding: 15px;
}

.nav-logo {
    font-weight: 500;
    font-size: clamp(16px,8.5vw,26px);
    margin-bottom: 3px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: clamp(12px,4vw,16px);
}

a:hover {
    transform: scale(1.02);
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.underlined {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.area-1 {
    background-image: url(start-area-picture.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.area-1-content-1 {
    margin: 10px;
}

.area-1-content-1-1 {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.area-1-content-2 {
    margin: 10px;
}

h1 {
    color: white;
    margin-bottom: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: 50px 3fr;
  grid-template-rows: repeat(5, auto);
  row-gap: 10px; 
}

.grid-item-1 {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 2px;
  border-radius: 5px 0px 0px 5px;
}

.grid-item-2 {
    background-color: white;
    border-radius: 0px 5px 5px 0px;
    padding: 10px
}

.icons {
    height: 50px;
    background-color: transparent;
}


@media (min-width: 560px) {
nav {
    background-color: rgb(255, 255, 255);
    flex-direction: row;
    justify-content: space-around;
}
}

@media (min-width: 650px) {
nav {
    background-color: rgb(255, 255, 255);
    flex-direction: row;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}
}

@media (min-width: 750px) {
nav {
    background-color: rgb(255, 255, 255);
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}
}
